.header {
  width: 1440px;
  height: 93;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;
}
.logo {
  width: 130px;
  height: 50px;
}
.nav {
  margin: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;

}
.tool {
  width: 130px;
  height: 50px;
}
.tool img{
  margin:0 10px;
}
.NXD{
  width: 75%;
  height: 859px; ;
  display: flex;
  align-self:center;
  justify-content: space-between;
  padding: 50 50px;
  box-sizing: border-box;
}
.box1{
  width: 588px;
  height: 93px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0%;
}
.txt1{
  letter-spacing: -0.5px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.txt2{
  font-size: 24px;
  letter-spacing: 0%;
}
.txt3{
  font-size: 16px;
  letter-spacing: 0%;
  text-align: left;

}
.txt4{
  text-align: left;
}
.img2{
  width: 1322px;
  height: 859px;
  text-align: right;
}
.box3{
  margin: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;  
}
.txt5{
 font-size: 24px;
 font-weight: 250;
 line-height: 36px;
 letter-spacing: 0%;
 text-align: left;
}
.txt6{
  width: 626x;
  height: 145px;
  font-size: 36px;
  font-weight: 500;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: left;
}
.box4{
  margin: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;  
}
.IMGS{
  width: 1340px;
  width: 572;
  height: 572px;
}
.IMGS img{
  width: 1340px;
  height: 572px;
  text-align: center;
}
.box5{
  margin: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;    
}
.txt8{
  height: 8.33px;
  text-align: right;
}
.txt9{
  height: 8.33px;
  text-align: center;
}
.carousel {
  height: 530px;
  width: 500px;
  overflow: hidden;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  text-align: right;
}
.btn {
  height: 52.57px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-image: url(./img/vector2.jpg);
}
.btn2 {
  height: 52.57px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-image: url(./img/vector3.jpg);
}
.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
.box6{
  margin: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box; 
}   
.box7{
    margin: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;    
}
.box8{
    margin: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;    
}
.box9{
  margin: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;
  max-width: 100%;
  overflow: auto;
  margin: 0 auto;  
}
.box10{
  margin: 45px;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;  
  display: flex;  
}
.img9{
  display: flex;
}
.txt14{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.WTR{
  width: 1440px;
  height: 93;
  align-items: left;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;
}
.txt14{
  align-items: center;
}
.TP{
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  box-sizing: border-box;
}
.box11{
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;  
  display: flex;  
}
.box12{
  margin: 45px;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;  
  display: flex;  
}
.box13{
  margin: 45px;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;  
  display: flex;
  
}
.txt16{
  font-size: 32px;
  font-weight: 500;
  line-height: 71px;
  text-align: left;
  display: flex;
}
.border{
  display: flex;
  margin: 45px;
  padding: 0 50px;
  letter-spacing: 5px;
  border-bottom-style: inset;
  border-bottom-color: black;
}
.footer {
  width: 1440px;
  height: 93;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;

}
.img5{
  width: 368px;
  height: 577;
  top:2492;
  left: 874px;
  margin-right: 44px; 
}
.img6{
  width: 368px;
  height: 577;
  top:2492;
  left: 874px;
  margin-right: 44px; 
}
.img7{
  width: 368px;
  height: 577;
  top:2492;
  left: 874px;
  margin-right: 44px; 
}
.img8{
  width: 368px;
  height: 577;
  top:2492;
  left: 874px;
  margin-right: 44px; 
}
.img13{
  width: 368px;
  height: 577;
  top:2492;
  left: 874px;
  margin-right: 44px; 
}
.img10{
  width: 500px;
  height: 774px;
  margin-right: 60px;
}
.mig11{
  width:780px;
  height:774px ;
  margin-right: 60px;
}