*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.Desktop{
    /* Desktop - 1 */
    position: relative;
    width: 1440px;
    height: 5714px;
    background: rgb(255, 255, 255);
}
.Frame1{
  /* Frame 1 */
    position: absolute;
    width: 1440px;
    height: 93px;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
}
.Frame2{
    /* Frame 1 */
    position: absolute;
    width: 1440px;
    height: 93px;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
}

.logo{
    /*plabty's Logo*/
    position: absolute;
    width: 123px;
    width: 123px;
    height: 35.78px;
    top: 28.29px;
    left: 50px;
}
.hotwords{
    text-decoration: none;
    display: block;
    height: 100%;
    color: inherit;
    padding: 0 10px;
}


.Extra-Icons{
    position: absolute;
    visibility: hidden;
    width: 24px;
    height: 24px;
    top: 37px;
    left: 1252px;
}

.Vector{
    position: absolute;
    width: 20.29px;
    height: 20.29px;
    top:1.5px;
    left: 1.5px;
}

.Component {
    position: absolute;
    width: 21.25px;
    height: 16.26px;
    top: 3px;
    left: 1px;
}
   
.h1{
    position: absolute;
    width: 584px;
    height: 222px;
    top: 175px;
    left: 37px;
    color: rgb(1,1,1,);
    font-family: Belleza;
    font-weight: 400;
    line-height: 142px;
    letter-spacing: -0.5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}
   
.btn{
    position: absolute;
    width: 584px;
    height: 222px;
    top: 175px;
    left: 37px;
    color: rgb(1,1,1,);
    font-family: Belleza;
    font-size: 96px;
    font-weight: 400;
    line-height: 142px;
    letter-spacing: -0.5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.A{
    /* unsplash:YAPZt8wxMO4 */
    position: absolute;
    width: 1232px;
    height: 859px;
    top: 0;
    left: 1440px;
    background: url();
    transform: rotate(-180.00deg);
}
.txt{
    top: 942px;
    left: 50px;
    position: absolute;
    width: 518px;
    height: 94px;
    color: rgb(0, 0, 0);
    font-family: Aeonik;
    font-size: 24px;
    font-weight: 250;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.txt2{
    top: 942px;
    left: 638px;
    position: absolute;
    width: 626px;
    height: 145px;
    color: rgb(0, 0, 0);
    font-family: Lora;
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;

}
.Frame26{
    /* Frame 26 */
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    border-radius: 58.75px;
}
.Line{
    /* Line 12 */
    position: absolute;
    width: 15px;
    height: 0;
    top: 15px;
    left: 7.5px;
    box-sizing: border-box;
    border: 1.25px solid rgb(255, 255, 255);
}

.h6{
    /* OUR SHOP */
    position: absolute;
    width: 114px;
    height: 24px;
    top: 2176px;
    left: 51px;
    color: rgb(0, 0, 0);
    font-family: Aeonik;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.10000000149011612%;
    text-align: left;
}

.h2{
    /* Here are the best seller from our varieties */
    position: absolute;
    width: 526px;
    height: 126px;
    top: 2237px;
    left: 50px;
    color: rgb(0, 0, 0);
    font-family: Lora;
    font-size: 48px;
    font-weight: 500;
    line-height: 71px;
    letter-spacing: 0%;
    text-align: left;
}

.btn3{
    /* Buttons */
    position: absolute;
    width: 134px;
    height: 39.51px;
    top: 2400px;
    left: 51px;
    background: rgb(1, 1, 1);
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 29px 15px 29px;
}
.img2{
    overflow-x: auto;
    overflow-y: hidden;
    height: 180px;
    white-space: nowrap;
}

.img{
    width: auto;
    height: 100%;
    min-height: 10px;
}
.group{
    /* Group 1 */
    position: absolute;
    width: 368px;
    height: 24px;
    top: 3087px;
    left: 50px;
}
.group2{

  /* Group 2 */
  position: absolute;
  width: 368px;
  height: 24px;
  top: 3087px;
  left: 462px;
  
}
.group3{
    /* Group 3 */
    position: absolute;
    width: 368px;
    height: 24px;
    top: 3087px;
    left: 874px;
}
.h5{
    /* REVIEWS */
    position: absolute;
    width: 97px;
    height: 24px;
    top: 3292px;
    left: 51px;
    color: rgb(0, 0, 0);
    font-family: Aeonik;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.10000000149011612%;
    text-align: left;
}
.txt2{
    position: absolute;
    width: 302px;
    height: 86px;
    top: 3342px;
    left: 50px;
    color: rgb(0, 0, 0);
    font-family: Aeonik;
    font-size: 16px;
    font-weight: 250;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.text{
    /* 2.479 reviews */
    position: absolute;
    width: 79px;
    height: 16px;
    top: 3482px;
    left: 50px;
    color: rgb(0, 0, 0);
    font-family: Aeonik;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.text5{
    /* We adore all our friends atBloomey, especially the beauties who have come to liv */
    position: absolute;
    width: 676px;
    height: 292px;
    top: 3275px;
    left: 495px;
    color: rgb(0, 0, 0);
    font-family: Lora;
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
}
h4{
    /* We adore all our friends atBloomey, especially the beauties who have come to liv */
    position: absolute;
    width: 676px;
    height: 292px;
    top: 3275px;
    left: 495px;
    color: rgb(0, 0, 0);
    font-family: Lora;
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
}
.img5{
   /* Frame 36 */
    position: absolute;
    width: 1339px;
    height: 746px;
    top: 4566px;
    left: 51px;
    background: url(); 
}





